/* Vergrendelde velden */

.readonly {
  background: #eee;
  cursor: not-allowed;
}

/* Verbergen */

.hidden {
  display: none;
}

/* Container */

.formContainer {
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

/* Formulier */

.ticketForm {
  background: #111;
  padding: 50px;
  border-radius: 30px;
  max-width: 1000px;
  margin: auto;
}

/* Titel */

.ticketForm h1 {
  color: #6ba368;
  margin-bottom: 40px;
  font-size: 3rem;
  text-align: center;
}

/* Twee kolommen */

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Inputs */

input,
select {
  width: 100%;
  padding: 18px;
  margin-bottom: 20px;

  background: #1b1b1b;

  border: none;
  border-radius: 14px;

  color: white;
  font-size: 1rem;
}

/* Focus effect */

input:focus,
select:focus {
  outline: 2px solid #6ba368;
}

/* Alleen lezen */

input[readonly] {
  background: #242424;
  color: rgb(200, 200, 200);
  cursor: not-allowed;
}

/* Permanent vergrendeld */

.readonly {
  background: #2b2b2b !important;
  border-left: 5px solid #6ba368;
}

/* Knoppen */

button {
  width: 100%;

  padding: 20px;

  background: #6ba368;

  border: none;
  border-radius: 14px;

  color: white;
  font-size: 1.1rem;
  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;

  margin-top: 10px;
  margin-bottom: 10px;
}

/* Hover knop */

button:hover {
  background: #547f52;
}

/* Uitschrijf knop */

#uitschrijfButton {
  background: #a33;
}

/* Succes bericht */

.success {
  background: rgba(107, 163, 104, 0.2);

  border: 1px solid #6ba368;

  color: #6ba368;

  padding: 15px;

  border-radius: 10px;

  margin-bottom: 25px;
}

/* Labels */

.ticketForm label {
  display: block;

  margin-bottom: 8px;

  color: rgb(180, 180, 180);
}

/* Admin login */

#adminLogin {
  color: rgb(143, 143, 143);
}

/* Tablet */

@media (max-width: 900px) {
  .ticketForm {
    padding: 35px;
  }

  .row {
    grid-template-columns: 1fr;
  }
}

/* Mobiel */

@media (max-width: 700px) {
  .formContainer {
    width: 95%;
    margin: 20px auto;
  }

  .ticketForm {
    padding: 25px;
    border-radius: 20px;
  }

  .ticketForm h1 {
    font-size: 2rem;
  }

  input,
  select,
  button {
    padding: 16px;
    font-size: 0.95rem;
  }

  .success {
    font-size: 0.95rem;
    padding: 12px;
  }

  label {
    font-size: 0.95rem;
  }
}

/* Kleine telefoons */

@media (max-width: 400px) {
  .ticketForm h1 {
    font-size: 1.6rem;
  }

  input,
  select,
  button {
    font-size: 0.9rem;
  }

  .ticketForm {
    padding: 20px;
  }
}
