/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Achtergrond */

body {
  background-color: black;
}

/* Navigatie */

nav {
  position: sticky;
  top: 20px;
  width: 95%;
  margin: auto;
  padding: 25px 40px;

  border-radius: 30px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.08);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  z-index: 100;
}

/* Navigatie links */

.navLinks {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Algemene links */

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 500;
  transition: 0.2s;
}

nav a:hover {
  color: #6ba368;
}

/* Knoppen */

.navButtons {
  background: #6ba368;
  padding: 12px 28px;
  border-radius: 999px;
  font-weight: bold;
}

.navButtons:hover {
  background: #557f54;
}

/* Actieve pagina */

#active {
  border-bottom: 2px solid #6ba368;
  padding-bottom: 4px;
}

/* Hamburger */

#hamburger {
  display: none;

  background: none;
  border: none;

  color: white;
  font-size: 2rem;

  cursor: pointer;
}

/* Tablet */

@media (max-width: 900px) {
  nav {
    padding: 20px 30px;
  }

  nav a {
    font-size: 1rem;
  }

  .navLinks {
    gap: 15px;
  }
}

/* Mobiel */
@media (max-width: 700px) {
  nav {
    justify-content: center;
    padding: 20px;
  }

  /* Hamburger gecentreerd */
  #hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 2rem;
    width: 50px;
    height: 50px;
  }

  /* Verberg menu standaard */

  .navLinks {
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;

    top: 100px;
    left: 0;

    width: 100%;
    padding: 40px 20px;

    background: rgba(0, 0, 0, 0.97);

    gap: 30px;
  }

  /* Open menu */

  .navLinks.open {
    display: flex;
  }

  /* Links centreren */

  .navLinks a {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }

  /* Buttons volle breedte */

  .navButtons {
    width: 80%;
    text-align: center;
  }
}
