/* Voorkom overflow */
* {
  box-sizing: border-box;
}

/* Achtergrond */
body {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)), url("../media/header-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  margin: 0;
}

/* Container */
.formContainer {
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

/* Formulier */
.ticketForm {
  background: #111;
  padding: 50px;
  border-radius: 30px;
  max-width: 1000px;
  margin: auto;
}

/* Titel */
.ticketForm h1 {
  color: #6ba368;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
}

/* Twee kolommen */
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Inputs */
input,
select {
  width: 100%;
  padding: 18px;
  margin-bottom: 20px;
  background: #1b1b1b;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 1rem;
}

/* Focus effect */
input:focus,
select:focus {
  outline: 2px solid #6ba368;
}

/* Knoppen */
button {
  width: 100%;
  padding: 20px;
  background: #6ba368;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
  margin-bottom: 10px;
}

button:hover {
  background: #547f52;
}

/* Admin tekst */
#adminLogin {
  color: rgb(143,143,143);
  text-align: center;
}

/* Tablet */
@media (max-width:900px) {
  .ticketForm {
    padding: 35px;
  }

  .row {
    grid-template-columns: 1fr;
  }
}

/* Mobiel */
@media (max-width:600px) {
  .formContainer {
    width: 95%;
    margin: 20px auto;
  }

  .ticketForm {
    padding: 25px;
    border-radius: 20px;
  }

  .ticketForm h1 {
    font-size: 2rem;
  }

  input,
  select,
  button {
    padding: 16px;
    font-size: .95rem;
  }
}

/* Kleine telefoons */
@media (max-width:400px) {
  .ticketForm {
    padding: 20px;
  }

  .ticketForm h1 {
    font-size: 1.6rem;
  }

  input,
  select,
  button {
    font-size: .9rem;
  }
}